<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/signIn.css">
</head>
<body>
<div class="login-container">
    <h2>Login</h2>
    <form action="/signIn/signIn" method="post">
        <input type="text" class="input-field" placeholder="아이디" name="memberId">
        <input type="password" class="input-field" placeholder="비밀번호" name="password">
        <br>
        <span th:if="${error}" th:text="${error}" style="color: red; font-size: x-small"></span>
        </br>
        <button type="submit" class="signIn-button">Sign In</button>
    </form>
    <p>Don't have an account? <a href="/signUp/signUpView" class="signUp-button">Sign Up</a></p>

    <!-- Google 로그인 버튼 추가 -->
    <div class="google-login-container">
        <button class="google-signIn-button" onclick="window.location.href='/oauth2/authorization/google'" id="googleLoginBtn">Sign in with Google</button>
    </div>

    <div class="naver-login-container">
        <button class="google-signIn-button" id="NaverLoginBtn">Sign in with Naver</button>
    </div>
</div>

<div class="oauth2-login-container">
    <ul>
        <li th:if="${session.member != null}">
            [[${session.member.email}]],[[${session.member.name}]] <a th:href="@{/logout}"> logout</a>
        </li>
    </ul>
</div>
</div>
</body>
</html>