<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/signIn.css">
</head>
<body>
<div class="login-container">
    <h2>Login</h2>

    <form action="/signIn" method="post">
        <input type="text" class="input-field" placeholder="Username" name="memberId">
        <input type="password" class="input-field" placeholder="Password" name="password">
        <br>
        <span th:if="${error}" th:text="${error}" style="color: red; font-size: x-small"></span>
        </br>
        <button type="submit" class="button" >Sign in</button>
    </form>
    <p>Don't have an account? <a href="/signUp/signUpView" class="button">Sign up</a></p>
</div>


</body>
</html>