<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>footer</title>
</head>
<body>
<div th:fragment="footer">
  <div id="footer">
    <div id="left-footer">
      <small>개발자</small>
      <div class="huijin">
        <small>
          강희진:&nbsp;
          <a class="text-muted" href="mailto:rkd8527@naver.com">rkd8527@naver.com</a>
        </small>
      </div>
      <div class="hojeong">
        <small>
          채호정:&nbsp;
          <a class="text-muted" href="mailto:coghwjd4051@gmail.com">coghwjd4051@gmail.com</a>
        </small>
      </div>
    </div>
    <div id="center-footer">
    </div>
    <div id="right-footer">
    </div>
  </div>
</div>
</body>
</html>