<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>header</title>
</head>
<body>
<div th:fragment="header">
  <div class="header">
    <div id="left">
<!--      <input type="button" class="profile-button" onClick="location.href='/myPage/myPage'">-->
    </div>
    <div id="center">
<!--      <img alt="main logo" id="mainLogo" src="/image/main_logo-icon.png" onClick="location.href='/mainPage'">-->
      <input type="button" class="main_logo-button" onClick="location.href='/'">
    </div>
    <div id="right">
        <div class="sign">
            <!-- 로그인 및 회원가입 버튼 -->
            <div th:if="${memberDetails == null}">
                <button class="signIn-button" onclick="window.location.href='/signIn/signIn'">로그인</button>
                <button class="signup-button" onclick="window.location.href='/signUp/signUpView'">회원가입</button>
            </div>
            <div th:if="${memberDetails != null}">
                <button class="signIn-button" onclick="window.location.href='/logout'">로그아웃</button>
                <button class="signIn-button" onclick="window.location.href='/myPage'">마이페이지</button>
            </div>
        </div>
<!--      <input th:if="${session.memberInfo == null}" type="button" class="login-button" onClick="location.href='/login/loginPage'">-->
<!--      <input th:if="${session.memberInfo != null}" type="button" class="logout-button" onClick="location.href='/login/logout'">-->
<!--      <span th:if="${session.memberInfo != null}" th:text="${session.memberInfo.name}+'님'"></span>-->
<!--      <input type="button" class="search-button" onclick="alert('검색창')">-->
<!--      <input type="button" class="basket-button" onclick="alert('장바구니')">-->
    </div>
  </div>
</div>
</body>
</html>