<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>header</title>
</head>
<body>
<div th:fragment="header">
  <div class="header">
    <div id="left">
    </div>
    <div id="center">
      <input type="button" class="main_logo-button" onClick="location.href='/'">
    </div>
    <div id="right">
        <div class="sign">
            <!-- 로그인 및 회원가입 버튼 -->
            <div th:if="${memberDetails == null}">
                <button class="signIn-button" onclick="window.location.href='/signIn/signIn'">로그인</button>
                <button class="signup-button" onclick="window.location.href='/signUp/signUpView'">회원가입</button>
            </div>
            <div th:if="${memberDetails != null}">
                <button class="signIn-button" onclick="window.location.href='/logout'">로그아웃</button>
                <button class="signup-button" onclick="window.location.href='/myPage'">마이페이지</button>
            </div>
        </div>
    </div>
  </div>
</div>
</body>
</html>