div#footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 중앙 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    text-align: center;
    height: 80px;
    background-color: white;
}