body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.signIn-button {
    background-color: #528057;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signUp-button {
    color: #A1CEBD;
}

.signIn-button:hover {
    background-color: #3f6d4e;
    color: #ffffff;
}

/* 구글과 네이버 로그인 버튼 나란히 배치 및 이미지 설정 */
.oauth-login-container {
    display: flex;
    justify-content: center; /* 버튼들을 가운데 정렬 */
    gap: 20px; /* 버튼 사이 간격 */
    margin-top: 15px; /* 로그인 버튼과의 간격 추가 */
}

.oauth-button img {
    width: 40px; /* 이미지 크기 설정 */
    height: 40px;
    cursor: pointer;
    border: none; /* 버튼 테두리 제거 */
}

.oauth-button {
    background: none;
    border: none;
    padding: 0;
}
