/* 수평 가운데 정렬 */
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
}
.content {
    text-align: center;
}
/* 로그인 및 회원가입 버튼 스타일 */
.login-button, .signup-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #FFD8E6; /* 연한 분홍색 */
    padding: 10px 20px;
    border: none;
    border-radius: 20px; /* 모서리를 둥글게 */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login-button {
    /* 로그인 버튼에 대한 스타일 */
    margin-right: 100px; /* 회원가입 버튼과의 간격 조정 */
}
.login-button:hover, .signup-button:hover {
    background-color: #FFFFFF; /* 버튼을 누르면 하얀색으로 변함 */
}