<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
  <link rel="stylesheet" href="/css/signUp.css">
</head>
<body>
<div class="signup-form">
  <h2>회원가입</h2>
  <form action="#" th th:action="@{/signUp/signUp}" th:object="${signUpDTO}" method="post">
    <input type="text" th:field="*{accountId}" placeholder="아이디"><br>
    <div th:if="${#fields.hasErrors('accountId')}" th:errors="*{accountId}"></div><br>

    <input type="password" name="password" placeholder="패스워드" required><br>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div><br>

    <input type="password" th:field="*{passwordConfirm}" placeholder="패스워드 확인"><br>
    <div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></div><br>

    <input type="text" th:field="*{nickname}" placeholder="닉네임" required><br>
    <div th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></div><br>

    <input type="email" th:field="*{email}" placeholder="이메일 ex)xxx@xxx.com" required><br>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div><br>

    <input type="text"
           th:field="*{timerPassword}"
           placeholder="타이머 비밀번호"
           pattern="\d{6}"
           maxlength="6"
           title="6자리 숫자를 입력하세요."
           oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 6);"
           required>
    <div th:if="${#fields.hasErrors('timerPassword')}" th:errors="*{timerPassword}"></div><br>

    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
      <span th:text="${errorMessage}"></span>
    </div><br>

    <button type="submit">가입하기</button>
  </form>
</div>
</body>
</html>