<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Today's Ranking</title>
    <style>
        /* 수평 가운데 정렬 */
        body {
            display: flex;
            justify-content: center;
            height: 100vh;
        }
        .content {
            text-align: center;
        }
    </style>
    </style>
</head>
<body>
<div class="content">
    <h1>Today's Ranking</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Total Time</th>
        </tr>
        </thead>
        <tbody>
        <!-- 랭킹 목록을 순회하며 출력 -->
        <tr th:each="rank : ${todayRankingList}">
            <td th:text="${rank.nickname}"></td>
            <td th:text="${rank.totalTime}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>